.container {
  box-sizing: border-box;
}

/* HEADER */
.header {
  background: linear-gradient(navy, purple);
  width: 100%;
  height: 400px;
  position: relative;
  box-sizing: border-box;
}
.header-contents {
  width: 50%;
  margin: auto;
  position: absolute;
  padding: 60px;
}
.header-contents > h2 {
  margin-top: 0;
  text-align: center;
}
.header-contents > p {
  width: 70%;
  text-align: center;
  /* word-break: break-all; */
  margin: auto;
}
.header-contents > button {
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 7px;
  color: white;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
}
.header .iphone {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
}
.header .iphone > img {
  width: 320px;
  height: 320px;
  display: block;
  margin: auto;
}

/* PORTFOLIO */
.portfolio {
  width: 100%;
  height: 100px;
  position: relative;
  color: black;
  margin: 40px 0;
}
.portfolio-contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio .portfolio-contents > h4 {
  margin: auto;
  text-align: center;
}
.portfolio .portfolio-contents > p {
  margin: auto;
  text-align: center;
  margin: 10px auto;
}

.portfolio .portfolio-contents > button {
  display: block;
  margin: auto;
  /* margin-top: 15px; */
  padding: 7px;
  color: white;
  background-color: darkgray;
  border: 1px solid darkgray;
  border-radius: 3px;
  cursor: pointer;
}

/* SERVICES */
/* 1-1 */
.services {
  background-color: navy;
  width: 100%;
  height: 280px;
  position: relative;
  color: white;
}
.service-title {
  margin: auto;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  margin-top: 30px;
}
.service-title > h4 {
  margin-top: 0;
}
/* 1-2 */
.service-contents {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.service-contents div {
  float: left;
  width: 24.5%;
  word-break: break-all;
}
.service-contents > div > h4 {
  margin-bottom: -5px;
}

.service-contents div > i {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  color: navy;
  margin-top: 15px;

  padding-top: 17px;
  box-sizing: border-box;
}

/* STATIONARY */
/* 1-1 */
.stationary-title {
  height: 50px;
  text-align: center;
  padding-top: 30px;
}
.stationary-title > span {
  padding-top: 30px;
  padding-bottom: 0;
  color: gray;
}
.stationary-title > h4 {
  margin-top: 0;
  margin-bottom: 0;
}
/* 1-2 */
.stationary-group {
  width: 100%;
  height: 600px;
  max-width: 85%;
  margin: auto;
  text-align: left;
  position: relative;
  display: flex;
}

.stationary-group h4 {
  margin: 0;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 0;
  word-break: break-all;
}
.stationary-group p {
  margin: 0;
  padding-left: 8%;
  padding-right: 30%;
  word-break: break-all;
}
.stationary-group img {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
}
.stationary-group #img2 {
  right: 0;
}
.stationary-group #img3 {
  left: 0;
  top: 50%;
}
.stationary-group #img4 {
  right: 0;
  top: 50%;
}
.stationary-group .stationary-img-3 {
  width: 100%;
}
.stationary-group .stationary-img-4 {
  width: 100%;
}
.stationary1-text {
  width: 50%;
  height: 50%;
  left: 0;
  position: absolute;
}
.stationary2-text {
  width: 50%;
  height: 50%;
  right: 0;
  position: absolute;
}
.stationary3-text {
  width: 50%;
  height: 50%;
  left: 0;
  top: 50%;
  position: absolute;
}
.stationary4-text {
  width: 50%;
  height: 50%;
  top: 50%;
  right: 0;
  position: absolute;
}
/* 1-3 */
.stationary-group .overlay1,
.overlay2,
.overlay3,
.overlay4 {
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 11;
}
.overlay-border-animation-1 {
  width: 45%;
  height: 42%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.0001px solid white;
  opacity: 0;
}
.overlay-border-animation-2 {
  width: 45%;
  height: 42%;
  left: 50%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.0001px solid white;
  opacity: 0;
}
.overlay-border-animation-3 {
  width: 45%;
  height: 42%;
  top: 50%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.0001px solid white;
  opacity: 0;
}
.overlay-border-animation-4 {
  width: 45%;
  height: 42%;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.0001px solid white;
  opacity: 0;
}
.stationary-group .overlay1:hover + .overlay-border-animation-1 {
  width: 40%;
  height: 37%;
  border: 1rem solid white;
  opacity: 1;
}
.stationary-group .overlay2:hover + .overlay-border-animation-2 {
  width: 40%;
  height: 37%;
  border: 1rem solid white;
  opacity: 1;
}
.stationary-group .overlay3:hover + .overlay-border-animation-3 {
  width: 40%;
  height: 37%;
  border: 1rem solid white;
  opacity: 1;
}
.stationary-group .overlay4:hover + .overlay-border-animation-4 {
  width: 40%;
  height: 37%;
  border: 1rem solid white;
  opacity: 1;
}
.stationary-group .overlay2 {
  width: 50%;
  height: 50%;
  right: 0;
  position: absolute;
  z-index: 11;
}
.stationary-group .overlay3 {
  width: 50%;
  height: 50%;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 11;
}
.stationary-group .overlay4 {
  width: 50%;
  height: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 11;
}

/* SNS */
.social-media {
  height: 200px;
}
.sns-group {
  width: 100%;
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.sns-group .sns {
  width: 50px;
}
.sns-group .sns i {
  font-size: 30px;
}
.copyright {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.copyright i {
  font-size: 12px;
}
.copyright h6 {
  text-align: center;
  margin: 0 0 0 3px;
}

@media screen and (max-width: 670px) {
  /* HEADER */
  .header-contents {
    padding: 0;
    width: 100%;
  }
  .header-contents > h2 {
    margin-top: 25px;
  }
  .header-contents > p {
    width: 100%;
  }
  .header .iphone {
    width: 100%;
  }
  .header .iphone > img {
    width: 220px;
    height: 220px;
  }

  /* SERVICES */
  .services {
    height: 400px;
  }
  .service-contents div {
    /* padding 때문에 */
    width: 49.9%;
  }

  /* STATIONARY */
  .stationary-group h4 {
    padding-left: 10%;
  }
  .stationary-group p {
    font-size: 13px;
  }
}
@media screen and (max-width: 450px) {
  /* HEADER */
  .header .iphone > img {
    width: 180px;
    height: 180px;
  }

  /* SERVICES */
  .service-contents {
    background-color: navy;
    width: 100%;
  }
  .service-contents div {
    margin: auto;
    font-size: 13px;
  }
  .service-contents div p {
    margin: 0;
  }
  .stationary-group p {
    font-size: 10px;
  }
}
@media screen and (max-width: 280px) {
  /* HEADER */
  .header .iphone img {
    width: 160px;
    height: 160px;
  }
  .header .header-contents p {
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 13px;
  }
  /* SERVICE */
  /* STATIONARY */
  .stationary-title {
  }
}
