div,
input,
textarea {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 600px;
}

.form-input {
  padding: 10px;
  font-size: 20px;
  width: 100%;
}
.blog-bg-black {
  background-color: black;
  width: 100%;
  padding: 30px;
}
.blog-bg-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  margin: auto;
}
.blog-100 {
  padding: 10px;
  width: 100%;
}
/* .blog-100 input {
  padding: 10px;
  margin-left: 0;
}
.blog-100 span {
  padding: 10px;
} */
.sub {
  float: left;
  margin-top: 8px;
}
.blog-50 {
  float: left;
  width: 50%;
  padding: 10px;
}
.btn-yellow {
  background: gold;
  color: white;
  padding: 10px;
  border: none;
  float: right;
  display: block;
  float: right;
}
